#game {
  padding-top: 100px;
}

button#play {
  margin: 30px auto;
}

.box {
  display: inline-block;
  text-align: center;
}

.box-wins {
  display: flex;
  justify-content: space-between;
  align-items: center;
}